/* CSS Reset  */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Utilities */

body {
  color: var(--text-color);
  font-family: "Gilroy", "Plus Jakarta Sans";
  font-size: 1rem;
}                           

:root {
  /* Colors  */
  --primary-color: #005ae2;
  --secondary-color: #1e3448;
  --accent-color: #e4efff;
  --text-color: #141414;
  --btn-color: #0065fe;
  --bg-color: #1E3448;
}

/* Nav Styles */
header {
  background: linear-gradient(to top, #f9f2f1, #f6f6f6);
  padding: 30px 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  gap: 20px;
  margin: 0 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px;
}

/* ul, li, and a href*/
.nav-item-2 ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 50px;
}

.nav-item-2 ul > li a {
  text-decoration: none;
  color: var(--text-color);
}

.nav-item-2 ul li .special {
  color: var(--btn-color);
}

.nav-item-3 {
  display: flex;
  gap: 20px;
}

a {
  text-decoration: none;
  font-weight: 600;

}
.btn-1 {
  color: var(--btn-color);
}

.btn-2 {
  background: var(--btn-color);
  color: white;
  border-radius: 70px;
  padding: 10px 35px;
}

.btn-3 {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 70px;
  font-weight:600;
  padding: 10px 35px;
}

.lead {
  color: var(--primary-color);
  font-weight: bold;
}

/* End of Header section */

/* Start Of Hero Section Styles */

#hero {
  background: linear-gradient(to bottom, #f9f2f1, #fff);

  width: 100%;
  /* padding: 50px 0; */
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font: 1rem;

  .hero-head {
    font-size: 1.9rem;
    line-height: 1.8;
    text-align: center;
    width: 75%;
  }
}

.hero-body {
  text-align: center;
  width: 55%;
}

.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 40px 0;
}

/* Hero Featured Images */
.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
  width: 80%;
  position: relative;
}

.frame {
  background: linear-gradient(to right, #eaf0f4, #fff);
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  gap: 20px;
  height: 200px;
  padding: 30px;
  width: 60%;
  z-index: 1;

  .frame-paragraph {
    font-size: 0.95rem;
    text-align: center;
    width: 70%;
    align-self: center;

    & span {
      font-weight: 700;
    }
  }
}

.frame-bg {
  position: absolute;
  left: 220px;
  top: -15px;
  transform: rotate(2deg);
  z-index: 0;

  & img {
    width: 90%;
  }
}

.linked-images {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
}

.plate img {
  /* margin-top: 100px; */
  width: 100%;
}

/* End of Hero Section Styles */

/* Start of Features Section Styles */


.attributes {
  background-color: #F9FBFD;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  justify-items: center;
  height: 150px;
  padding:0 70px;
  margin-top: -25px;
  width: 100%;
}

.attribute-item-1 h2 span{
  color: var(--primary-color);
}

.attribute-item-2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 30px;

  .attribute-item-subdiv{
    width: 130px;
  }

  & :nth-child(3){
    width: 150px;
  }
}


/* Why Choose Us Section Styles */

#why-choose-us {
  margin-top: 0px;
}

.why-us-features{
  display: flex;
  justify-content: space-around;
  padding: 20px;
  width: 100%;
  
}

.why-us-title{
  margin: 20px 0;
}
.why-us-feature-list {
  display:  flex;


  .features-content{
    width: 350px;
  }
}

.why-us-content{
  width: 400px;

  .why-us-title{
    display: flex;
    gap: 10px;

    & img{
      width: 5px;
    }

  }

  p{
    font-size: sm all;
    margin-left: 20px;
  }
}

.feature-item{
  display: flex;
  flex-direction: column;
  gap: 30px;

}

.f-item-subdiv{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* End of why choose us section styles */


/* Pricing Section Styles - starts here */

.price-header-info{
  margin: 20px 0;
  width: 590px;

  .pricing-description-line{
    display: flex;
    justify-content: start;
    gap: 10px;
  }

  .description-line{
    text-align: center;
  }
}

/* Pricing Table Styles  */

.pricing-table {
  display: flex;
  justify-content: center;
  align-items: center;

  .table-basic{
    border: 0.5px solid #005AE2;
    border-radius: 10px 0 0  10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 30px 50px;
  }

  .table-professional{
    background: linear-gradient(to right, var(--bg-color) 100%, #1E3448 0%);
    border-radius: 10px;
    color: var(--accent-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    height: 500px;
    padding: 30px 50px;
  }

  .table-teams{
    border: 0.4px solid var(--btn-color);
    border-radius: 0 10px 10px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 30px 50px;
  }
}

.table-benefits{
  display: flex;
  flex-direction: column;
  gap: 20px;

  .benefit-list{
    display: flex;
    gap: 20px;
    font-size: small;

    img{
      width: 20px;
    }
  }
}

.table-heading{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pricing-cta{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 30px 0;
}

/* End of Pricing Section Styles */

/* Start of Trim URL Section Styles */

#trim-url{
  background: var(--bg-color);
  position: relative;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: white;
  border-radius: 10px;
  margin: 20px 0;
  width: 400px;
  height: 300px;
  z-index: 1;

  & p{
    color: var(--primary-color);
    font-size: small;
    padding: 10px 30px;
  }
}

form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.input-1{
  width: 350px;
}

.search{

  padding: 10px;
  border: 1px solid var(--btn-color);
  border-radius: 10px;
  width: inherit;
}

.input-2{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 350px;
}

.select{

  padding: 10px;
  border: 1px solid var(--btn-color);
  border-radius: 10px;
  width:inherit;
}

.btn{
  width: 350px;
}

.btn > a{
  background: var(--btn-color);
  color: white;
  border-radius: 70px;
  padding: 10px 140px;
  text-align: center;
}

.blob1{
  position: absolute;
  left: -50px;
  top: 0;
  
  & img{width: 72%;}
}
.blob2{
  position: absolute;
  right: 0;
  bottom: 0; 

  & img{width: 0%;}
}

/* End of Trim URL Section Styles */

/* Start of FAQ Section Styles */

#FAQ{
  position: relative;
}

.faq-blob-top{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;

  & img{
    width: 60%;
  }
}

.faq-blob-bottom{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;

  & img{
    width: 100%;
  }
}

.faq-title{
  display: flex;
  justify-content: center;
  gap: 20px;
}
details{
  border-bottom: 1px solid var(--primary-color);

  margin: 20px 0;
  padding: 20px;
  width: 763px;
}

/* End of FAQ Section Styles  */

/* Start of CTA Section Styles */

#CTA{
  background: var(--bg-color);
  color: white;
  height: 250px;
  margin: auto  ;
  position: relative;
}

.cta-blob-top{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;

  & img{
    width: 100%;
  }
}

.cta-blob-bottom{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;

  & img{
    width: 100%;
  }
}

.cta-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 250px;

}

/* End of CTA Section Styles */

/* Start of Footer Section Styles */

#main-footer{
  position: relative;
}

.footer-info{
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 50px;
  padding: 20px;
}

.footer-column{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.brand-logo{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  gap: 20px;
}


.social-media{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer-links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.column-top-heading{
  margin-bottom: 10px;
}

.column-links{
  display: flex;
  flex-direction: column;

  & a{
    color: var(--text-color);
    font-weight: normal;
  }
}

.footer-blob-1{
  position: absolute;
  left: -70px;
  top: -40;
  opacity: 0.8;
  z-index: 1;

  & img{
    width: 100%;
  }
}

.footer-blob-2{
  position: absolute;
  bottom: -170px;
  right: 0;
  z-index: 1;
  opacity: 0.8;

  & img{
    width: 100%;
  }
}

.footer-bottom{
  display: flex;

  justify-content: end;
  align-items: end;
  gap: 5px;
  height: 50px;
  padding: 20px;
  position: relative;
}

/* End of Footer Section Styles */

/* Responsive Design Start */

@media screen and (min-width: 1025px) {
  /* nav styles  */
  
  #viewport{
    display: none;
  }
  
}

/* For Tablet Start */
@media screen and (min-width:768px) and (max-width:1024px) {
  /* nav styles  */
  .header-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  
    gap: 20px;
    margin: 0 20px;
  }

  .attributes {
    background-color: #F9FBFD;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-items: center;
    gap: 10px;
    height: 250px;
    padding: 0 70px;
    margin-top: -30px;
    width: 100%;
  }

  .attribute-item-1 h2{
    text-align: center;
  }

  .frame{
    width: 70%;
  }

  .why-us-features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pricing-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .table-basic{
      border: 0.5px solid #005AE2;
      border-radius: 10px 10px 0 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 30px;
      padding: 30px 50px;
    }
  }

  .blob1{
    left: -100px;
    width: 60%;
  }

  .faq-blob-bottom {
    width: 20%;

    & img{
      overflow: hidden;
    }

  }
  .cta-blob-top {
    & img {
        width: 50%;
    }
  }
  
  .cta-blob-bottom {
    display: none;
  }

  .footer-blob-2, .footer-blob-1{
    width: 40%;
  }
  .faq-blob-top {
    & img {
        width: 30%;
    }
  }

  #viewport{
    display: none;
  }

}

/* For Tablet End */

/* For Mobile Start */
@media screen and (min-width:320px) and (max-width:767px) {
  aside{
    display: block !important;
  }
  main{
    display: none;
  }
  footer{
    display: none;
  }
  header{
    display: none;
  }
  
}



/* For Mobile End */